h1 {
	font-family: 'Lobster', cursive;
	font-size: 72px;
	text-align: center;
	vertical-align: center;
}
body {
        font-family: 'Droid Sans', sans-serif;
        font-size: 48px;
        text-align: center;
      }