h1 {
	font-family: 'Lobster', cursive;
	font-size: 72px;
	text-align: center;
	color: rgb(15,170,155);
}
body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 36px;
  text-align: center;
  padding: 50px;
}
h1.title {
	margin-top: 0px;
}
.stupid-made-with-tagline {
	font-size: 12px;
}
