<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">{{site.data.about.heading}}</h2>
                <hr class="divider light my-4" />
                {% for desc in site.data.about.description %}
                    <p class="text-white-50 mb-4">{{desc}}</p>
                {%endfor%}
                <!-- Mail Chimp -->
                <div id="mc_embed_signup">
                    <form action="//geogeeks.us15.list-manage.com/subscribe/post?u=e913fe1e61659e8300b501f44&amp;id=f03cf9758a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                        <h4 class="text-white">Subscribe to our mailing list</h4>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e913fe1e61659e8300b501f44_f03cf9758a" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                      </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>
</section>