<section class="page-section " id="hacknight">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">{{site.data.hacknight.heading}}</h2>
                <hr class="divider dark my-4" />
                {% for desc in site.data.hacknight.description %}
                    <p class="text-black-50 mb-4">{{desc}}</p>
                {%endfor%}
            </div>
        </div>
        <hr class="divider my-4" />
        <div class="row">
            {% for objective in site.data.hacknight.objectives%}
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="{{objective.icon}}" {%if objective.delay%} data-wow-delay="{{objective.delay}}" {%endif%}></i>
                    <h3 class="h4 mb-2 mt-2">{{objective.heading}}</h3>
                    <p class="text-muted mb-0">{{objective.heading.description}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>