<header class="masthead">
  <div class="container h-100">
    <div
      class="row h-100 align-items-center justify-content-center text-center"
    >
      <div class="col-lg-10 align-self-end">
        <h3 class="text-white">Calling all Perth Geogeeks&hellip;</h3>
        <h1 class="text-white font-weight-bold">Come hack with us!</h1>
        <hr class="mastHead-hr" />
        <p class="text-white font-weight-bold">
          There's a geospatial revolution happening... whether you're a GIS
          technician or a software developer, a fluid thermodynamics specialist,
          an OpenStreetMap fanatic, or just have a burning interest in spatial
          data, you'll know the last few years have witnessed an explosion in
          geospatial technology.
        </p>
        <p class="text-white font-weight-bold">
          Open source software has been a key component of the revolution, and
          it's at the core of the passion that's driving this group.
        </p>
        <p class="text-white font-weight-bold">
          We welcome geogeeks from all backgrounds, with any level of
          experience. You don't need to be a GIS guru or hardcore developer to
          get involved, you just need to be keen to learn, teach and build, and
          join the revolution!
        </p>
        <hr class="divider my-4" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <div
          class="row section-heading"
          itemscope
          itemtype="https://schema.org/Event"
        >
          <div class="col-sm-5 text-right"><h3>Next hack night:</h3></div>
          <div class="col-sm-7 text-left">
            <!-- Change the date here and at 2 lines down! -->Thursday 15
            October, 2020<br />
            at
            <a
              href="https://spacecubed.com/"
              target="_blank"
              itemprop="location"
              >Spacecubed</a
            >
            (Ground floor, 45 St Georges Terrace, Perth)<br />
            from
            <time itemprop="startDate" datetime="2020-10-15T18:00Z+08:00"
              >6:00&nbsp;p.m.</time
            ><br />
            <a href="geogeeks.ics" title="Subscribe to our calendar"
              ><span class="fa fa-calendar"></span> Subscribe to our
              calendar.</a
            >
          </div>
        </div>
        <h3 id="whatson" class="text-left">What's on:</h3>
        <ul class="text-left">
          <li>
            Special edition: FOSS4G SotM Oceania 2020 -
            <a
              href="https://mailchi.mp/37fa13320662/special-edition-foss4g-sotm-oceania-2020"
              >Perth Hub info session</a
            >
          </li>
          <!-- <li>
                        QGIS virtual layers
                    </li>
                    <li>
                        More work on <a href="projects/lost-towns.html">Maps for Lost Towns</a>
                    </li>
                    <li>
                        Get started on a new project &mdash; creating a shared QGIS resources repository for WA QGIS users.
                    </li>
                    <li>
                        <a href="https://wiki.openstreetmap.org/wiki/QGIS_tutorial">OSM QGIS tutorial</a>-writing.</li>
                    <li>
                        Start on new projects?
                    </li>
                    <li>
                        Show &amp; tell &mdash; share what you've been working on, something cool you've seen, something you'd like to dig into!
                    </li> -->
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- Masthead-->
<!-- <header>
  <div class="header-content">
    <div class="header-content-inner"></div>
  </div>
</header> -->

<!-- <h3>Calling all Perth Geogeeks&hellip;</h3>
                <h1>Come hack with us!</h1>
                <hr>
                <p>There's a geospatial revolution happening... whether you're a GIS technician or a software developer, a fluid thermodynamics specialist, an OpenStreetMap fanatic, or just have a burning interest in spatial data, you'll know the last few years have witnessed an explosion in geospatial technology.</p>
                <p>Open source software has been a key component of the revolution, and it's at the core of the passion that's driving this group.</p>
                <p>We welcome geogeeks from all backgrounds, with any level of experience. You don't need to be a GIS guru or hardcore developer to get involved, you just need to be keen to learn, teach and build, and join the revolution!</p> -->
<!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
<!-- <hr /> -->
<!-- <div class="row section-heading" itemscope itemtype="https://schema.org/Event">
                    <div class="col-sm-5 text-right"><h3>Next hack night:</h3></div>
                    <div class="col-sm-7 text-left"> -->
<!-- Change the date here and at 2 lines down! -->
<!-- Thursday 15 October, 2020<br /> -->
<!-- at <a href="https://spacecubed.com/" target="_blank" itemprop="location">Spacecubed</a> (Ground floor, 45 St Georges Terrace, Perth)<br />
                        from <time itemprop="startDate" datetime="2020-10-15T18:00Z+08:00">6:00&nbsp;p.m.</time><br />
                        <a href="geogeeks.ics" title="Subscribe to our calendar"><span class="fa fa-calendar"></span> Subscribe to our calendar.</a>
                    </div>
                </div>
                <h3 id="whatson" class="text-left">What's on:</h3>
                <ul class="text-left">
                    <li>
                        Special edition: FOSS4G SotM Oceania 2020 - <a href="https://mailchi.mp/37fa13320662/special-edition-foss4g-sotm-oceania-2020">Perth Hub info session</a>
                    </li> -->
<!-- <li>
                        QGIS virtual layers
                    </li>
                    <li>
                        More work on <a href="projects/lost-towns.html">Maps for Lost Towns</a>
                    </li>
                    <li>
                        Get started on a new project &mdash; creating a shared QGIS resources repository for WA QGIS users.
                    </li>
                    <li>
                        <a href="https://wiki.openstreetmap.org/wiki/QGIS_tutorial">OSM QGIS tutorial</a>-writing.</li>
                    <li>
                        Start on new projects?
                    </li>
                    <li>
                        Show &amp; tell &mdash; share what you've been working on, something cool you've seen, something you'd like to dig into!
                    </li> -->
<!-- </ul> -->
