<section class="page-section {{include.data.class}}" id="{{include.data.id}}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="{{include.data.heading.class}} mt-8">
                    {{ include.data.heading.content }}
                </h2>
                <hr class="divider light my-4">
                {% for event in include.data.events %}
                <div class="col-sm-5 text-left text-white">
                    <h4>{{event.name}}</h4>
                </div>
                <div class="col-sm-7 text-left">
                    When: {{event.date}}<br />
                    Where:
                    <a
                      href="{{event.url}}"
                      target="_blank"
                      itemprop="location"
                      >{{event.location.name}}</a
                    >
                    <br />
                    {{event.location.address}}
                </div>
                <br />
                {%endfor%}
            </div>
        </div>
    </div>
</section>
