:root {
  --mastHead-hr-line-color: #f05f40;
  --geogeeks--brand-color: rgb(15, 170, 155);
}
.mastHead-hr {
  max-width: 50px;
  border-color: var(--mastHead-hr-line-color);
  border-width: 3px;
}

.navbar-brand {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/geogeeks_logo.svg");
  width: 86px;
  height: 46px;
}

.navbar-brand span {
  display: none;
}

header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-image: url("../img/eighty-mile-beach-small.png");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
header.masthead p {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 1rem 1rem 3rem 1rem;
}

#mc_embed_signup{
  background:#ffffff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

.list-group {
  line-height: normal;
}

.text-white a {
  color: white;
  text-decoration: underline;
}

.text-white h3 a {
  text-decoration: none;
}

.text-white a:hover {
  color: #b83a17;
}

.one-line-summary {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.bigmap .leaflet-map {
  /* @todo There's probably a better way to do this. */
  height: 80vh !important;
}

.gallery-item { display:block; margin-bottom:0.5em; padding-top:0.5em; font-size:smaller; color:black; }
.gallery-item:hover { text-decoration:none; background-color:#efefef; color:black; }
.gallery-item.upload-link { color:#2f66cd; font-size:larger; }

@media (min-width: 768px) {
  .calendar-subscribe-box {
    float: right;
    margin-top: -2.5rem; /* fallback for missing calc support */
    margin-top: calc(-6px - 2.4rem); /* the height of the heading plus its padding */
    width: 39em;
    max-width: 54%;
    margin-left: 1rem;
  }
}

