:root {
  --mastHead-hr-line-color: #f05f40;
  --geogeeks--brand-color: rgb(15, 170, 155);
}
.mastHead-hr {
  max-width: 50px;
  border-color: var(--mastHead-hr-line-color);
  border-width: 3px;
}
/* Overwriting some of the styles set in creativeCss.css */
.navbar-brand {
  text-transform: lowercase !important;
  font-family: "Lobster", cursive !important;
  font-size: 24px !important;
  color: var(--geogeeks--brand-color) !important;
  font-weight: bold !important;
}
.navbar-brand:hover {
  color: white !important;
}

header.masthead {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-image: url("../img/eighty-mile-beach-small.png");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
header.masthead p {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 1rem 1rem 3rem 1rem;
}

#mc_embed_signup{
  background:#ffffff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}
