<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Geogeeks Perth</title>
    <!-- Favicon-->
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Mail Chimp -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <style type="text/css">
      #mc_embed_signup{
        background:#ffffff;
        clear:left;
        font:14px Helvetica,Arial,sans-serif;
        width:100%;
      }
    </style>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/creativeTheme.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-7326297-12', 'auto');
      ga('send', 'pageview');
      </script>
  </head>
  <body id="page-top">

    <!-- Capture the Footer Attribution HTML in a variable -->
    {%capture attribution%}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://spacecubed.com/" target="_blank"><img src="assets/img/logospacecubed.png" alt="Spacecubed logo."></a>
        </div>
      </div>
    {%endcapture%}
    <!-- Contact Us Methods -->
    {%capture contactUs %}
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 text-center">
          <a href="mailto:geogeeks.perth@gmail.com" target="_blank">
              <i class="fa fa-envelope fa-3x wow bounceIn"></i>
              <p>Email</p>
          </a>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <a href="https://geogeeks.slack.com" target="_blank">
              <i class="fa fa-slack fa-3x wow bounceIn"></i>
              <p>Slack</p>
          </a>
      </div>
      <!-- hiding this until we fix our Twitter account -->
      <!-- <div class="col-lg-3 col-md-6 text-center">
          <a href="https://twitter.com/geogeeks_au" target="_blank">
              <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".2s"></i>
              <p>@geogeeks_au</p>
          </a>
      </div> -->
      <div class="col-lg-3 col-md-6 text-center">
          <a href="https://github.com/geogeeks-au" target="_blank">
              <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".3s"></i>
              <p>GitHub</p>
          </a>
      </div>
  </div>
  <!-- Mail Chimp -->
  <div class="row justify-content-center py-2 my-2">
    <div id="mc_embed_signup">
      <form action="//geogeeks.us15.list-manage.com/subscribe/post?u=e913fe1e61659e8300b501f44&amp;id=f03cf9758a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <h4 class="text-black">Subscribe to our mailing list for updates:</h4>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e913fe1e61659e8300b501f44_f03cf9758a" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>
  {% endcapture %}

<!-- Upcoming events -->
{% capture events %}
  <div class="container">
    {% if site.data.events.events %}
      {% for event in site.data.events.events %}
        <div class="row justify-content-center">
          <div class="col-lg-8 text-left mb-3">
            <h5 class="text-white mt-0">
              {{event.name}}
            </h5>
            <div class="text-white-50 pl-5">
              {% if event.description %}{{event.description}}<br/>{% endif %}
            </div>
            <div class="text-white-50 pl-5">
              When:
              {% if event.date %}{{event.date}}{% endif %}
              {% if event.time %} at {{event.time}}{% endif %}
            </div>
            <div class="text-white-50 pl-5">
              Where: {{event.location.name}}
              {% if event.location.address %}
                - {% if event.location.url %}<a href="{{event.location.url}}" class="text-white">{% endif %}{{event.location.address}}</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="text-white-50 pl-5">
        No events currently planned. Please sign up to the mailing list for updates.
      </div>
    {% endif %}
  </div>
  <br />
{% endcapture %}

    <!-- Navigation -->
    {% include navigation.html navigation=site.data.navigation %}
    <!-- MastHead -->
    {% include masthead.html masthead=site.data.masthead %}
    <!-- Events Section -->
    {% include section.html data=site.data.events content=events%}
    <!-- Contact Section -->
    {% include section.html content=contactUs data=site.data.contact %}
    <!-- Footer Section -->
    {% include section.html content=attribution data=site.data.footer %}
    <!-- Bootstrap Core JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
        <!-- Third party plugin JS-->
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/creativeTheme.js"></script>
  </body>
</html>
