---
layout: plain
---
<dl class="row">
    <dt class="col-sm-2">Date and time:</dt>
    <dd class="col-sm-10">
        {% if page.date %}
            {{page.date}}
            {% if page.time %} at {{page.time}}{% endif %}
        {% endif %}
    </dd>
    <dt class="col-sm-2">Location:</dt>
    <dd class="col-sm-10">
        {% if page.location.name %}<em>{{ page.location.name }}</em>{% endif %}{% if page.location.name and page.location.address %}, {% endif %}
        {% if page.location.address %}{{ page.location.address }}{% endif %}
        {% if page.location.latitude %}
            [<a href="#map">See map below</a>]
        {% endif %}
    </dd>
</dl>

{{ content }}

{% if page.registration_url %}
    <p>
        <a href="{{ page.registration_url }}" class="btn btn-primary">Register now!</a>
    </p>
{% endif %}

{% if page.location.latitude %}
    <a name="map"></a>
    {% leaflet_map { "zoom": 18 } %}

        {% leaflet_marker {
            "id": "event-location",
            "latitude" : {{ page.location.latitude }},
            "longitude": {{ page.location.longitude }}
        } %}

    {% endleaflet_map %}
{% endif %}

{% assign commons_category = 'Geogeeks' %}
{% if page.commons_category %}
    {% assign commons_category = page.commons_category|replace: ' ', '_' %}
{% endif %}
<h2 id="photos">Photos</h2>
<div id="commons-gallery" class="row text-center container" {% if page.commons_category %}data-commons-category="{{commons_category}}"{% endif %}>
    <a class="col-md-2 gallery-item upload-link"
       href="https://commons.wikimedia.org/wiki/Special:UploadWizard?categories={{commons_category}}"
    >
        <img class="figure-img img-fluid rounded"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/OOjs_UI_icon_upload-progressive.svg/480px-OOjs_UI_icon_upload-progressive.svg.png"
        />
        Upload your photos of this event!
    </a>
</div>
