---
layout: plain
---

{% assign events_data = site.pages | where: "layout", "event" | sort: "path" | reverse %}

<div class="card calendar-subscribe-box mb-3 mb-md-0">
    <div class="card-body">
        <h4 class="card-title"> Subscribe to the feed</h4>
        <p>
            Click the link below, or choose "subscribe to a calendar" in your calendar app and paste in the iCal URL:
            <code style="user-select: all">https://geogeeks.org/geogeeks.ics</code>
        </p>
        <a href="webcal://geogeeks.org/geogeeks.ics" type="text/calendar" class="card-link" style="color: #2f66cd">
            <img src="/assets/img/icons/ical-feed.png" style="height: 1.5em; vertical-align: text-bottom" />
            Subscribe to calendar
        </a>
        <a href="https://geogeeks.org/geogeeks.ics" type="text/calendar" rel="ical" class="card-link" style="color: #2f66cd" >
            <img src="/assets/img/icons/ical-feed.png" style="height: 1.5em; vertical-align: text-bottom" />
            iCal link
        </a>
    </div>
</div>

<p>This page lists all {{events_data.size}} events that we have documented on this website so far.</p>

<div>
{% assign prev_year = false %}
{% for event in events_data %}
    {% assign year = event.path|slice: 0,4 %}
    {% if year != prev_year %}
</div>

<h3 style="clear: both">{{year}}</h3>
<div class="list-group mb-3">
    {% endif %}
    {% assign prev_year = year %}
    <a href="{{ event.url }}" class="list-group-item list-group-item-action">
        <div class="mb-2 mb-md-0 d-flex flex-column flex-md-row w-100 justify-content-between">
            <h5>{{ event.title }}</h5>
	    <span class="text-right">{{ event.location.name}}, <b>{{ event.start_time|date: "%B %e" }}</b></span>
        </div>
        <span class="one-line-summary text-muted">{{ event.content | split: "

" | first | markdownify | strip_html }}</span>
    </a>
{% endfor %}
</div>
