---
layout: plain
---
<dl class="row">
    <dt class="col-sm-2">Date and time:</dt>
    <dd class="col-sm-10">
        {% if page.date %}
            {{page.date}}
            {% if page.time %} at {{page.time}}{% endif %}
        {% endif %}
    </dd>
    <dt class="col-sm-2">Location:</dt>
    <dd class="col-sm-10">
        {% if page.location.name %}<em>{{ page.location.name }}</em>{% endif %}{% if page.location.name and page.location.address %}, {% endif %}
        {% if page.location.address %}{{ page.location.address }}{% endif %}
        {% if page.location.latitude %}
            [<a href="#map">See map below</a>]
        {% endif %}
    </dd>
</dl>

{{ content }}

{% if page.registration_url %}
    <p>
        <a href="{{ page.registration_url }}" class="btn btn-primary">Register now!</a>
    </p>
{% endif %}

{% if page.location.latitude %}
    <a name="map"></a>
    {% capture lat %}{{page.location.latitude}}{% endcapture %}
    {% leaflet_map { "center": [ {{lat}}, {{page.location.longitude}} ], "zoom": 18 } %}

        {% leaflet_marker {
            "id": "event-location",
            "latitude" : {{lat}},
            "longitude": {{page.location.longitude}}
        } %}

    {% endleaflet_map %}
{% endif %}
