---
layout: plain
---

{% assign events_data = site.pages | where: "layout", "event" | sort: "path" | reverse %}

<p>This page lists all {{events_data.size}} events that we have documented on this website so far.</p>

<div>
{% assign prev_year = false %}
{% for event in events_data %}
    {% assign year = event.path|slice: 0,4 %}
    {% if year != prev_year %}
</div>

<h3>{{year}}</h3>
<div class="list-group">
    {% endif %}
    {% assign prev_year = year %}

    <!-- {{event|inspect}} -->
    <a href="{{ event.url }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5>{{ event.title }}</h5>
            <span>{{ event.location.name}} {{ event.start_time|date: "%B %e" }}</span>
        </div>
        <span>{{ event.content }}</span>
    </a>

{% endfor %}
</div>
