---
layout: plain
---

{% assign events_data = site.pages | where: "layout", "event" | sort: "path" %}

<div class="bigmap">
    {% leaflet_map { "center": [ "-31.955840", "115.858980" ], "zoom": 10 } %}

        {% for event in events_data %}
            {% if event.location.latitude %}
                {%- capture popup -%}
                    <a href='{{event.url}}'>{{event.title}}</a>
                {%- endcapture -%}
                {% leaflet_marker {
                    "latitude" : {{event.location.latitude}},
                    "longitude": {{event.location.longitude}},
                    "popupContent": "{{popup}}"
                } %}
            {% endif %}
        {% endfor %}

    {% endleaflet_map %}
</div>
